<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="GQ">
    <meta name="apple-mobile-web-app-title" content="GQ">
    <meta name="theme-color" content="#6dd094">
    <meta name="msapplication-navbutton-color" content="#6dd094">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Green Quest</title>

    <link rel="stylesheet" href="../../tailwind.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="512x512" href="img/logo/Logo_512.png">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="img/logo/Logo_512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/logo/Logo_192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="img/logo/Logo_192.png">
    <link rel="icon" type="image/png" sizes="152x152" href="img/logo/Logo_152.png">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="img/logo/Logo_152.png">
    <link rel="icon" type="image/png" sizes="144x144" href="img/logo/Logo_144.png">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="img/logo/Logo_144.png">
    <link rel="icon" type="image/png" sizes="128x128" href="img/logo/Logo_128.png">
    <link rel="apple-touch-icon" type="image/png" sizes="128x128" href="img/logo/Logo_128.png">
</head>

<body>