<%- include('partials/header') %>

<div class="flex flex-col items-center bg-no-repeat bg-fixed bg-contain bg-bottom w-screen h-screen" style="background-image: url(../img/Arbre_1.png)">
    <img src="../img/Logo.png" class="mt-2" alt="">
    <p class="text-4xl text-green-600 mt-3">Ajout d'un défi</p>
    <form action="/form/ajout" method="POST" class="flex flex-col items-center">
        <input type="text" placeholder="Titre" name="titre" class="shadow appearance-none border border-green-400 rounded w-56 py-2 px-3 text-center text-xl text-gray-800 leading-tight focus:outline-none focus:shadow-outline mt-16">
        <!--<input type="date" name="titre" class="shadow appearance-none border border-yellow-300 rounded w-56 py-2 px-3 text-center text-xl text-gray-500 leading-tight focus:outline-none focus:shadow-outline mt-2 bg-white">-->
        <textarea placeholder="Résumé" name="resume" class="shadow appearance-none border border-green-400 rounded w-56 py-2 px-3 text-center text-xl text-gray-800 leading-tight focus:outline-none focus:shadow-outline mt-5"></textarea>
        <a href="/menu"><button class="bg-teal-600 hover:bg-teal-700 text-white text-2xl font-bold py-2 px-10 rounded-full mt-16">Ajouter</button></a>   
    </form>
</div>

<%- include('partials/footer') %>