<%- include('partials/header') %>

<div class="flex flex-col items-center bg-no-repeat bg-scroll bg-contain bg-bottom w-screen h-screen"
    style="background-image: url(../img/Arbre_1.png)">
    <img src="../img/Logo.png" class="mt-2" alt="">
    <p class="text-6xl text-teal-600"><%=pseudo%></p>
    <div class="text-center mt-10 border border-yellow-300 p-2 bg-white w-64">
        <p>Défis en cours : 4</p>
    </div>
    <div class="text-center mt-10 border border-yellow-300 p-2 bg-white w-64">
        <p>Défis réalisés : 12</p>
    </div>
    <div class="text-center mt-10 border border-yellow-300 p-2 bg-white w-64">
        <p>Jours écoulés : 6</p>
    </div>
    <div class="flex justify-between mt-20 px-2 w-screen">
        <a href="#" class="text-sm text-red-500 underline">Mentions légales</a>
        <a href="#" class="text-sm text-red-500 underline">Conditions</a>
    </div>
</div>

<%- include('partials/footer') %>