<%- include('partials/header') %>

<div class="flex flex-col items-center bg-no-repeat bg-fixed bg-contain bg-center w-screen h-screen"
    style="background-image: url(../img/Arbre_2.png)">
    <p class="text-5xl text-center text-red-400 mt-16">Acheter une gourde</p>
    <p class="text-xl text-center text-blue-800">90 personnes participent</p>
    <button class="bg-teal-600 hover:bg-teal-700 text-white text-2xl font-bold py-2 px-10 rounded-full mt-16">J'ai
        réussi</button>
    <button class="bg-teal-600 hover:bg-teal-700 text-white text-2xl font-bold py-2 px-10 rounded-full mt-8">Je
        commente</button>

    <div class="text-center mt-4 border border-yellow-400 p-2 bg-white w-64 mt-8">
        <p class="text-gray-700">Commentaire 1</p>
    </div>
    <div class="text-center mt-4 border border-yellow-400 p-2 bg-white w-64">
        <p class="text-gray-700">Commentaire 2</p>
    </div>

</div>

<%- include('partials/footer') %>