<%- include('partials/header') %>

<div class="flex flex-col items-center">
    <img src="../img/Logo_GQ.png" alt="" class="mt-10">
    <div class="flex flex-col items-center mt-10 border border-yellow-300 p-8">
        <p class="text-xl text-gray-700">Bienvenue sur Green Quest</p>
        <p class="text-xl text-gray-700">ta nouvelle appli qui te lance</p>
        <p class="text-xl text-gray-700">des défis pour respecter la</p>
        <p class="text-xl text-gray-700">planète</p>
        <p class="text-xl text-gray-700 mt-4">Es-tu prêt à réduire ton</p>
        <p class="text-xl text-gray-700">empreinte écologique ?</p>
        <a href="/rejoindre"><button class="bg-teal-600 hover:bg-teal-700 text-white text-2xl font-bold py-2 px-4 rounded-full mt-8">Rejoins-nous</button></a>
    </div>
    <a href="/connexion" class="text-s text-gray-600 mt-2 underline">J'ai déjà un compte</a>
</div>



<%- include('partials/footer') %>