<%- include('partials/header') %>

<div class="flex justify-between mt-4">
    <img src="../img/Logo_GQ.png" alt="" class="w-1/3">
    <a href="/compte"><img src="../img/Avatar.png" alt="" class="w-8 mr-3"></a>
</div>

<div class="flex flex-col items-center bg-no-repeat bg-fixed bg-contain bg-center w-screen h-screen"
    style="background-image: url(../img/Arbre_1.png)">
    <div class="flex mt-10">
        <p class="text-4xl text-green-600 -mt-3">Nos défis</p>
        <a href="/ajout"><button class="bg-red-500 rounded px-3 rounded-full text-white text-2xl font-bold ml-3">+</button></a>
    </div>


    <a href="/defi">
        <div class="text-center mt-10 border border-red-500 p-2 bg-white w-64">
            <p class="text-gray-700">Acheter une gourde</p>
        </div>
    </a>

    <a href="">
        <div class="text-center mt-4 border border-red-500 p-2 bg-white w-64">
            <p class="text-gray-700">Utiliser les transports en commun</p>
        </div>
    </a>

    <a href="">
        <div class="text-center mt-4 border border-red-500 p-2 bg-white w-64">
            <p class="text-gray-700">Donner une seconde vie aux objets</p>
        </div>
    </a>

    <a href="">
        <div class="text-center mt-4 border border-red-500 p-2 bg-white w-64">
            <p class="text-gray-700">Fabriquer ses produits</p>
        </div>
    </a>

    <a href="">
        <div class="text-center mt-4 border border-red-500 p-2 bg-white w-64">
            <p class="text-gray-700">Manger moins de viande</p>
        </div>
    </a>

    <a href="">
        <div class="text-center mt-4 border border-red-500 p-2 bg-white w-64">
            <p class="text-gray-700">Ramasser des déchets</p>
        </div>
    </a>

</div>

<%- include('partials/footer') %>