<%- include('partials/header') %>

<div class="flex flex-col items-center bg-no-repeat bg-fixed bg-contain bg-center w-screen h-screen" style="background-image: url(../img/Arbre_1.png)">
    <img src="../img/Logo.png" class="mt-2" alt="">
    <form action="/form/create" method="POST" class="flex flex-col items-center">
        <input type="text" placeholder="Pseudo" name="pseudo" class="shadow appearance-none border border-yellow-300 rounded w-56 py-2 px-3 text-center text-xl text-gray-800 leading-tight focus:outline-none focus:shadow-outline mt-32" required>
        <input type="email" placeholder="Email" name="email" class=" shadow appearance-none border border-yellow-300 rounded w-56 py-2 px-3 text-center text-xl text-gray-800 leading-tight focus:outline-none focus:shadow-outline mt-6" required>
        <input type="password" placeholder="Mot de Passe" name="motdepasse" class="shadow appearance-none border border-yellow-300 rounded w-56 py-2 px-3 text-center text-xl text-gray-800 leading-tight focus:outline-none focus:shadow-outline mt-6" required>
        <a href="/menu"><button class="bg-teal-600 hover:bg-teal-700 text-white text-2xl font-bold py-2 px-10 rounded-full mt-10">Allons-y</button></a>    
    </form>
    
</div>

<%- include('partials/footer') %>